/* PHASE 4: Footer */

.footer {
  color: #aaa;
  width: 900px;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  margin: 0 auto 0 auto;
}

.footer-copy {
  float: left;
  padding: 20px;
}

.footer-links {
  float: right;
  padding: 20px;
}

.footer-links > li {
  float: left;
  padding-right: 20px;
}

.footer a {
  display: block;
}

.footer a:hover {
  color: #000;
}
