.DS_Store
.byebug_history
Gemfile.lock

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


!homeworks/W6D2/*

node_modules/
/node_modules
bundle.js
bundle.js.map
/yarn-error.log


key.js
keys.js
secrets_backup.yml

package-lock.json
npm-debug.log
