
<%= link_to "All Bands", bands_url, class: "btn btn-small btn-primary" %>


<h1>Band's name: <%= @band.name %></h1>
<%= button_to "Delete", @band, method: :delete, class: "btn btn-small btn-danger" %>
