<!-- <% button_to 'Unfollow', user_follow_url(user), method: :delete, class: 'follow-toggle' %> -->

<button type="button" class="follow-toggle"
        name="button" data-user-id="<%= user.id %>"
        data-initial-follow-state="<%= current_user.follows?(user) %>"></button>
