/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*Splash*/

body, html{
  font-family: sans-serif;
	height: 100%;
	margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
	padding: 20px 20px 20px 20px;
}

.brand {
	font-size: 40px;
	padding: 10px;
}

.nav-items{
   display:flex;
	 justify-content: space-between;
	 align-items: flex-end;
}
.nav-items p {
	padding: 15px;
}
.nav-items a {
	padding: 15px;
}

.nav-items a:hover {
	background: #c2d2cd;
}




.splash-content a, .nav-items a {
	display: inline-block;
	border: 2px solid #99bdb2;
	border-radius: 20px;
	color: black;
}

.hero-image {
  background-image: url("splash.jpg");
  height: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	filter:blur(7px);
}

.splash-content {
	font-size: 2em;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.splash-content a {
	padding: 10px;
	background-color: #c2d2cd;
}

.splash-content a:hover {
	background-color: #99bdb2;
}


footer {
  display: flex;
  justify-content: flex-end;
	padding: 15px;
}

footer a {
  text-decoration: none;
  color: black;
	margin-left: 20px;
}

footer a:hover{
  color: grey;
}
