<h1>Create User Page </h1>

<%= render 'shared/errors' %>

<form action=" <%= users_url %> " method="post">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">

  <label for="Username">Username: </label>
  <input type="text" name="user[user_name]">

  <label for="Password">Password: </label>
  <input type="password" name="user[password]">

  <input type="submit" value="Create a New User Account">
</form>
