
<div class="button-header">
  <% if logged_in? %>
    <%= button_to "Log Out",  session_url, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Sign In Page", new_session_url, class: "btn btn-primary" %>
    <%= link_to "Sign Up Page", new_user_url, class: "btn btn-info" %>
  <% end %>
</div>
