<% action_url = (action == :sign_in) ? session_url : users_url %>

<form  class="form-signin" action=" <%= action_url %> " method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label  for="user-email">Email</label>
  <input required autofocus type="email" name="user[email]" value="<%= user ? user.email : '' %>"
    id='user-email'
    >
  <label for="user-password">password</label>
  <input id="user-password" type="password" name="user[password]">

  <input type="submit"
         value="<%= (action == :new) ? 'create user' : 'Sign In' %>",
         class="btn btn-small btn-primary"
         >
</form>
