<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times Logo">

  <nav>
    <ul class="masthead-links">
      <li><time>Tuesday, October 18, 2016</time></li>

      <li>
        <i class="fa fa-newspaper-o">
          <a href="#">Today’s Paper</a>
        </i>
      </li>

      <li>
        <i class="fa fa-video-camera">
          <a href="#"> Video</a>
        </i>
      </li>

      <li><button>77°F</button></li>

      <li><button><strong>AAO +100%</strong></button></li>
    </ul>
  </nav>

</header>
